.register-top
  = link_to "/" do
    .register-top__icon
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2296184308", alt: "mercari"
  .register-top__main
    .new-register
      %h2 新規会員登録
    .register-top__selection
      = link_to "/signup/step2" do
        .btn-mail
          = image_tag "http://www.iconarchive.com/download/i58749/dakirby309/windows-8-metro/Other-Mail-alt-Metro.ico",size: "20x20", alt: "mail"
          メールアドレスで登録する
      %button#facebook-login.btn-facebook
        = image_tag "https://ja.facebookbrand.com/wp-content/uploads/2019/04/f_logo_RGB-Hex-Blue_512.png",size: "18x18" , alt: "facebook"
        = link_to "Facebookで登録する",user_facebook_omniauth_authorize_path, method: :post
      %button#google-login.btn-google
        = image_tag "https://developers.google.com/identity/images/g-logo.png?hl=ja" ,size:"18x18" , alt:"google"
        = link_to "Googleで登録する",user_google_oauth2_omniauth_authorize_path, method: :post
= render 'registration_footer'