= render "shared/top_header"
-breadcrumb :user_edit
= render "shared/header-ribon"
= render "shared/side-bar"

-# .header-mypage-ribon
-#   メルカリ
-#   = fa_icon 'chevron-right', class: 'icon'
-#   .header-mypage-ribon__pre
-#     マイページ 
-#     = fa_icon 'chevron-right', class: 'icon'
-#   .header-mypage-ribon__now-page
-#     プロフィール

.mypage-profile-edit
  .mypage-profile-edit__box
    .profile-header
      プロフィール
    .profile-background-image
      .profile-icon
        = image_tag '//static.mercdn.net/images/member_photo_noimage_thumb.png'
      .profile-name
        =current_user.nickname
    .profile-contents
      %input.input-profile{name: "profile-text", placeholder: "例）こんにちは☆ ご覧いただきありがとうございます！", type: "text"}/
    .profile__contents__btn
      変更する

= render "shared/top_footer"
