.right-middle-contents
  .right-middle-contents__notice
    お知らせ
  
  = link_to "/users/#{current_user.id}/appear_todo", remote: true do
    .right-middle-contents__todo
      やることリスト

.mypage-item-list
  .mypage-item-list__body
    .mypage-item-list__body__image
      = image_tag "//static.mercdn.net/images/mercari_profile.png"
    .mypage-item-list__body__text
      事務局から個別メッセージ「ログイン通知」
      = fa_icon 'chevron-right lg', class: 'icon'
    .mypage-item-list__body__time
      = fa_icon 'clock-o lg', class: 'icon' 
      1日前
  .mypage-item-list__check
    .mypage-item-list__check__graybox
      一覧を見る