= render "shared/top_header"

.top-image

.top-category
  .top-category__title
    人気のカテゴリー
  .top-category__kind
    .top-category__kind__name
      レディース
    .top-category__kind__name
      メンズ
    .top-category__kind__name
      家電・スマホ・カメラ
    .top-category__kind__name
      おもちゃ・ホビー・グッズ

.top-products
  .top-products__title
    全てのアイテム
  .top-products__show
    もっと見る＞
  .top-products__items
    -# 仮置きで10個表示
    .top-products__items__item
      = image_tag "http://buzz-plus.com/wp-content/uploads/2017/06/01-2.jpg"
      .top-products__items__item__price
        ¥1,000,000
      .top-products__items__item__name
        家

    .top-products__items__item
      = image_tag "http://buzz-plus.com/wp-content/uploads/2017/06/01-2.jpg"
      .top-products__items__item__price
        ¥1,000,000
      .top-products__items__item__name
        家

    .top-products__items__item
      = image_tag "http://buzz-plus.com/wp-content/uploads/2017/06/01-2.jpg"
      .top-products__items__item__price
        ¥1,000,000
      .top-products__items__item__name
        家

    .top-products__items__item
      = image_tag "http://buzz-plus.com/wp-content/uploads/2017/06/01-2.jpg"
      .top-products__items__item__price
        ¥1,000,000
      .top-products__items__item__name
        家

    .top-products__items__item
      = image_tag "http://buzz-plus.com/wp-content/uploads/2017/06/01-2.jpg"
      .top-products__items__item__price
        ¥1,000,000
      .top-products__items__item__name
        家

    .top-products__items__item
      = image_tag "http://buzz-plus.com/wp-content/uploads/2017/06/01-2.jpg"
      .top-products__items__item__price
        ¥1,000,000
      .top-products__items__item__name
        家

    .top-products__items__item
      = image_tag "http://buzz-plus.com/wp-content/uploads/2017/06/01-2.jpg"
      .top-products__items__item__price
        ¥1,000,000
      .top-products__items__item__name
        家

    .top-products__items__item
      = image_tag "http://buzz-plus.com/wp-content/uploads/2017/06/01-2.jpg"
      .top-products__items__item__price
        ¥1,000,000
      .top-products__items__item__name
        家

    .top-products__items__item
      = image_tag "http://buzz-plus.com/wp-content/uploads/2017/06/01-2.jpg"
      .top-products__items__item__price
        ¥1,000,000
      .top-products__items__item__name
        家

    .top-products__items__item
      = image_tag "http://buzz-plus.com/wp-content/uploads/2017/06/01-2.jpg"
      .top-products__items__item__price
        ¥1,000,000
      .top-products__items__item__name
        家

.top-icon
  .top-icon__margin
  .top-icon__text
    出品
  = fa_icon "camera" 

= render "shared/top_hooter"