.top-footer-image
  .top-footer-image__left-box
    .top-footer-image__left-box__text-top
      スマホでかんたんフリマアプリ
    .top-footer-image__left-box__text-bottom
      今すぐ無料ダウンロード!
    .top-footer-image__left-box__images
      = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png",class: "image-mercari"
      = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", class: "image-app"
      = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", class: "image-app"

  .top-footer-image__right-box
    = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png", class: "image-right"


.top-footer-bottom
  .top-footer-bottom__contents
    .top-footer-bottom__contents__content
      .top-footer-bottom__contents__content__title
        メルカリについて
      %ul.top-footer-bottom__contents__content__box
        %li.top-footer-bottom__contents__content__box--text
          会社概要（運営会社）
        %li.top-footer-bottom__contents__content__box--text
          採用情報
        %li.top-footer-bottom__contents__content__box--text
          プレリリース
        %li.top-footer-bottom__contents__content__box--text
          公式ブログ
        %li.top-footer-bottom__contents__content__box--text
          メルカリロゴ公式ガイドライン
        = fa_icon "twitter", class: "fa-3x sns-icon"
        = fa_icon "facebook-official", class: "fa-3x sns-icon"
    
    .top-footer-bottom__contents__content
      .top-footer-bottom__contents__content__title
        ヘルプ＆ガイド
      %ul.top-footer-bottom__contents__content__box
        %li.top-footer-bottom__contents__content__box--text
          らくらくメルカリ便
        %li.top-footer-bottom__contents__content__box--text
          ゆうゆうメルカリ便
        %li.top-footer-bottom__contents__content__box--text
          大型メルカリ便
        %li.top-footer-bottom__contents__content__box--text
          車体取引ガイド
        %li.top-footer-bottom__contents__content__box--text
          メルカリあんしん・あんぜん宣言！
        %li.top-footer-bottom__contents__content__box--text
          偽ブランド品撲滅への取り組み
        %li.top-footer-bottom__contents__content__box--text
          メルカリボックス

    .top-footer-bottom__contents__content
      .top-footer-bottom__contents__content__title
        プライバシーと利用規約
      %ul.top-footer-bottom__contents__content__box
        %li.top-footer-bottom__contents__content__box--text
          プライバシーポリシー
        %li.top-footer-bottom__contents__content__box--text
          メルカリ利用規約
        %li.top-footer-bottom__contents__content__box--text
          あんしん
        %li.top-footer-bottom__contents__content__box--text
          ガイドスマホサポート制度に関する利用特約
        %li.top-footer-bottom__contents__content__box--text
          コンプライアンスポリシー

    .top-footer-bottom__contents__content
      .top-footer-bottom__contents__content__margin
      %ul.top-footer-bottom__contents__content__box
        %li.top-footer-bottom__contents__content__box--text
          個人データの安全管理に係る基本方針
        %li.top-footer-bottom__contents__content__box--text
          特定商取引に関する表記
        %li.top-footer-bottom__contents__content__box--text
          資本決済法に基づく表示
        %li.top-footer-bottom__contents__content__box--text
          法令遵守と犯罪防止のために

    .top-footer-bottom__contents__content
      .top-footer-bottom__contents__content__title
        国
      %ul.top-footer-bottom__contents__content__box
        %li.top-footer-bottom__contents__content__box--text
          日本
        %li.top-footer-bottom__contents__content__box--text
          United States

  .top-footer-bottom__logo
    = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg"
    .top-footer-bottom__logo__text
      ©️ 2019 Mercari