= render "shared/top_header"
= render "shared/top-image"

.top-category
  .top-category__title
    人気のカテゴリー
  .top-category__kind
    .top-category__kind__name
      レディース
    .top-category__kind__name
      メンズ
    .top-category__kind__name
      家電・スマホ・カメラ
    .top-category__kind__name
      おもちゃ・ホビー・グッズ

.top-products
  .top-products__title
    全てのアイテム
  .top-products__show
    もっと見る＞
  .top-products__items
    - @products.each do |product|
      = link_to product_path(product.id) do
        .top-products__items__item
          = image_tag product.images[0].img.url
          - if product.status !=  "出品中"
            .top-products__items__item__sold__image
            .top-products__items__item__sold__text SOLD
          .top-products__items__item__price
            ¥
            = product.price
          .top-products__items__item__name
            = product.name

= render "shared/top_footer"
