<section class="product-box-container l-single-container">
  
  <h1 class="product-name">No.5038 My Pet Monster トーキングプラッシュドール UK</h1>
      <p class="product-wording">『No.5038 My Pet Monster トーキングプラッシュドール UK』は、3988回の取引実績を持つ●●●さんから出品されました。ぬいぐるみ/おもちゃ・ホビー・グッズの商品で、愛知県から2~3日で発送されます。</p>
    <div class="product-main-content clearfix">
    <div class="product-photo">
      <div class="chosen-carousel chosen-loaded chosen-drag">
                                        
                                          <div class="chosen-stage-outer"><div class="chosen-stage" style="left: 0px; width: 2700px;"><div class="chosen-product active" style="width: 300px;"><div class="chosen-product-inner">
              <img data-src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_1.jpg?1564909867" alt="No.5038 My Pet Monster トーキングプラッシュドール UK" class="chosen-lazy" src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_1.jpg?1564909867" style="opacity: 1;">
            </div></div><div class="chosen-product" style="width: 300px;"><div class="chosen-product-inner">
              <img data-src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_2.jpg?1564909867" alt="No.5038 My Pet Monster トーキングプラッシュドール UK" class="chosen-lazy">
            </div></div><div class="chosen-product" style="width: 300px;"><div class="chosen-product-inner">
              <img data-src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_3.jpg?1564909867" alt="No.5038 My Pet Monster トーキングプラッシュドール UK" class="chosen-lazy">
            </div></div><div class="chosen-product" style="width: 300px;"><div class="chosen-product-inner">
              <img data-src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_4.jpg?1564909867" alt="No.5038 My Pet Monster トーキングプラッシュドール UK" class="chosen-lazy">
            </div></div><div class="chosen-product" style="width: 300px;"><div class="chosen-product-inner">
              <img data-src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_5.jpg?1564909867" alt="No.5038 My Pet Monster トーキングプラッシュドール UK" class="chosen-lazy">
            </div></div><div class="chosen-product" style="width: 300px;"><div class="chosen-product-inner">
              <img data-src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_6.jpg?1564909867" alt="No.5038 My Pet Monster トーキングプラッシュドール UK" class="chosen-lazy">
            </div></div><div class="chosen-product" style="width: 300px;"><div class="chosen-product-inner">
              <img data-src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_7.jpg?1564909867" alt="No.5038 My Pet Monster トーキングプラッシュドール UK" class="chosen-lazy">
            </div></div><div class="chosen-product" style="width: 300px;"><div class="chosen-product-inner">
              <img data-src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_8.jpg?1564909867" alt="No.5038 My Pet Monster トーキングプラッシュドール UK" class="chosen-lazy">
            </div></div><div class="chosen-product" style="width: 300px;"><div class="chosen-product-inner">
              <img data-src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_9.jpg?1564909867" alt="No.5038 My Pet Monster トーキングプラッシュドール UK" class="chosen-lazy">
            </div></div></div></div><div class="chosen-nav disabled"><div class="chosen-prev">prev</div><div class="chosen-next">next</div></div><div class="chosen-dots"><div class="chosen-dot active"><span></span>
            <div class="chosen-dot-inner">
              <img src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_1.jpg?1564909867" class="">
          </div></div><div class="chosen-dot"><span></span>
            <div class="chosen-dot-inner">
              <img src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_2.jpg?1564909867" class="">
          </div></div><div class="chosen-dot"><span></span>
            <div class="chosen-dot-inner">
              <img src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_3.jpg?1564909867" class="">
          </div></div><div class="chosen-dot"><span></span>
            <div class="chosen-dot-inner">
              <img src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_4.jpg?1564909867" class="">
          </div></div><div class="chosen-dot"><span></span>
            <div class="chosen-dot-inner">
              <img src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_5.jpg?1564909867" class="">
          </div></div><div class="chosen-dot"><span></span>
            <div class="chosen-dot-inner">
              <img src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_6.jpg?1564909867" class="">
          </div></div><div class="chosen-dot"><span></span>
            <div class="chosen-dot-inner">
              <img src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_7.jpg?1564909867" class="">
          </div></div><div class="chosen-dot"><span></span>
            <div class="chosen-dot-inner">
              <img src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_8.jpg?1564909867" class="">
          </div></div><div class="chosen-dot"><span></span>
            <div class="chosen-dot-inner">
              <img src="https://static.mercdn.net/item/detail/orig/photos/m64922026898_9.jpg?1564909867" class="">
          </div></div></div></div>
          </div>

          <div class="product-price-box text-center visible-sp">
        <span class="product-price bold">¥16,300</span>
        <span class="product-tax"> (税込)</span>
                  <span class="product-shipping-fee">送料込み</span>
              </div>
            <section class="visible-sp">
                                          <div class="product-btn-float-area">
                                              <a class="product-buy-btn" href="https://www.mercari.com/jp/login/?login_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2Ftransaction%2Fbuy%2Fm64922026898%2F%3F_s%3DU2FsdGVkX192PMx5stlvPCSNTZUBVGuq4iQKHCH-of9RUaQI7His-8bNWP-cQdx6zZN2UfmtqzFxMIj7NJr34FpciPv34LIlQ9F-kehqs3XP3U7en2g1vRfovpx1sSUN">
                  購入画面に進む
                </a>
                          </div>
                        </section>
        <table class="product-detail-table">
      <tbody><tr>
        <th>出品者</th>
        <td>
          <span class="link">RPM☆プロフィールを必ずご覧ください☆</span>
          <div>
              <div class="product-user-ratings">
                <div class="icon-good"><%= fa_icon 'heart' %></div>
                <span class="vertical">3991</span>
              </div>
              <div class="product-user-ratings">
                <div class="icon-normal"><%= fa_icon 'heart' %></div>
                <span>12</span>
              </div>
              <div class="product-user-ratings">
                <div class="icon-bad"><%= fa_icon 'heart' %></div>
                <span>3</span>
              </div>
          </div>
        </td>
      </tr>
      <tr>
        <th>カテゴリー</th>
        <td>
                    <span class="link"><div>おもちゃ・ホビー・グッズ</div></span>
                                <span class="link">
              <div class="product-detail-table-sub-category"><strong>＞</strong> おもちゃ</div>
            </span>
                    <span class="link">
            <div class="product-detail-table-sub-sub-category"><strong>＞</strong> ぬいぐるみ</div>
          </span>
        </td>
      </tr>
      <tr>
        <th>ブランド</th>
          <td>
                      </td>
      </tr>
            <tr>
        <th>商品の状態</th>
        <td>やや傷や汚れあり</td>
      </tr>
      <tr>
        <th>配送料の負担</th>
        <td>送料込み(出品者負担)</td>
      </tr>
      <tr>
        <th>配送の方法</th>
        <td>らくらくメルカリ便</td>
      </tr>
              <tr>
          <th>配送元地域</th>
          <td><span class="link">愛知県</span></td>
        </tr>
      
              <tr>
          <th>発送日の目安</th>
          <td>2~3日で発送</td>
        </tr>
      
          </tbody></table>
  </div>

    <div class="product-price-box text-center">
    <span class="product-price bold">¥16,300</span>
    <span class="product-tax"> (税込)</span>
          <span class="product-shipping-fee">送料込み</span>
      </div>

                                
                            <a class="product-buy-btn" href="https://www.mercari.com/jp/login/?login_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2Ftransaction%2Fbuy%2Fm64922026898%2F%3F_s%3DU2FsdGVkX192PMx5stlvPCSNTZUBVGuq4iQKHCH-of9RUaQI7His-8bNWP-cQdx6zZN2UfmtqzFxMIj7NJr34FpciPv34LIlQ9F-kehqs3XP3U7en2g1vRfovpx1sSUN">
          購入画面に進む
        </a>
            
    <div class="product-description f14">
    <p class="product-description-inner">My Pet Monster（マイペットモンスター）トーキングプラッシュドール UK ver.

■大きさ約55cm（角の先からつま先まで） 

2008年にイギリスで発売されたマイペットモンスターです。
お腹を押すとおしゃべりするマイペットモンスターの
ぬいぐるみです。 

トーキング可動です。

USED品で手錠やチェーンは欠品しています。

目に小傷があります
それ以外は毛並みも手足も良い状態です。

単品や単一セットのみのお値引きには
対応しておりません(^◇^;)

ご購入前にプロフィールにも
目を通してくださいませ。

【送料無料】

メルカリ便を利用致します。

#mypetmonster
#マイペットモンスター
#ビンテージトイ
#80s
#モンスター
#アメキャラ
#アメリカ
#キャラクター
#アメリカンキャラクター
#雑貨
#アメリカ雑貨
#アメリカン雑貨</p>
  </div>

    <div class="product-button-container clearfix">
      <div class="product-button-left">
                            <a href="https://www.mercari.com/jp/login/?login_callback=https://product.mercari.com/jp/m64922026898/&amp;login_message=like" class="product-button product-button-like">
            <div class="icon-like-border"><%= fa_icon 'heart' %></div>
            <span>いいね!</span>
            <span data-num="like">22</span>
          </a>

                    <a href="https://www.mercari.com/jp/login/?login_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2Freport%2Fm64922026898%2F" class="product-button product-button-report clearfix">
            <%= fa_icon 'flag' %>
            <span>不適切な商品の報告</span>
          </a>
              </div>
      <div class="product-button-right">
      <span class="link">
          あんしん・あんぜんへの取り組み
        </span>
      </div>
    </div>
</section>

<div class="product-detail-message">
  <div class="message-container">
  
    </div>
</div>

<ul class="nav-product-link-prev-next clearfix">
          <li class="nav-product-link-prev">
        <span class="link"><strong>＜</strong>ピンクチェック マキシワンピース</span>
      </li>
              <li class="nav-product-link-next">
        <span class="link">[ジャンク]マザーボード LGA1155  2枚 ピン折れ i5 3450 割れ<strong>＞</strong></span>
      </li>
      </ul>

<div class="product-social-media-box">
  <ul class="social-media-box">
    <li>
      <a href="http://www.facebook.com/share.php?u=https%3A%2F%2Fproduct.mercari.com%2Fjp%2Fm64922026898%2F" target="_blank" class="share-btn" data-window-name="facebook_window">
        <div class="icon-facebook"><%= fa_icon 'facebook' %></div>
      </a>
    </li>
    <li>
      <a href="http://twitter.com/share?count=horizontal&amp;original_referer=https%3A%2F%2Fproduct.mercari.com%2Fjp%2Fm64922026898%2F&amp;text=No.5038%20My%20Pet%20Mons%E2%80%A6%20%28%C2%A516%2C300%29%20https%3A%2F%2Fproduct.mercari.com%2Fjp%2Fm64922026898%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89" target="_blank" class="share-btn" data-window-name="twitter_window">
        <div class="icon-twitter"><%= fa_icon 'twitter' %></div>
      </a>
    </li>
                <li class="social-hidden-product">
        <a href="http://line.me/R/msg/text/?No.5038 My Pet Monster トーキングプラッシュドール UK%20%7C%20%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%A7%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%0D%0Ahttps://product.mercari.com/jp/m64922026898/" target="_blank">
          <div class="icon-line"><i class="fab fa-line"></i></div>
        </a>
      </li>
        <li>
      <a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fproduct.mercari.com%2Fjp%2Fm64922026898%2F&amp;media=https%3A%2F%2Fstatic.mercdn.net%2Fproduct%2Fdetail%2Forig%2Fphotos%2Fm64922026898_1.jpg%3F1564909867&amp;description=%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E5%95%86%E5%93%81%3A%20No.5038%20My%20Pet%20Monster%20%E3%83%88%E3%83%BC%E3%82%AD%E3%83%B3%E3%82%B0%E3%83%97%E3%83%A9%E3%83%83%E3%82%B7%E3%83%A5%E3%83%89%E3%83%BC%E3%83%AB%20UK%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA" target="_blank" class="share-btn" data-window-name="pinterest_window">
        <div class="icon-pinterest"><%= fa_icon 'pinterest' %></div>
      </a>
    </li>
  </ul>
</div>

<div class="products-in-user-profile">
    <section class="
      products-box-container
      clearfix
      related-product-column            products-in-user-profile    ">
            <h2 class="products-box-head">
    <span class="link">RPM☆プロフィールを必ずご覧ください☆さんのその他の出品</span>
  </h2>
    
    <div class="products-box-content clearfix">
              <section class="products-box">
          <a href="https://product.mercari.com/jp/m21603038327/">
            <figure class="products-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m21603038327_1.jpg?1570811271" class=" lazyloaded" alt="chichi69様 専用" src="https://static.mercdn.net/thumb/photos/m21603038327_1.jpg?1570811271">
                              <figcaption>
                  <div class="product-sold-out-badge"><div>SOLD</div></div>
                </figcaption>
                          </figure>
            <div class="products-box-body">
              <h3 class="products-box-name font-2">chichi69様 専用</h3>
              <div class="products-box-num">
                <div class="products-box-price font-5">¥6,330</div>
                                                  <div class="font-2">
                    <div class="icon-like-border"><%= fa_icon 'heart' %></div>
                    <span>1</span>
                  </div>
                              </div>
            </div>
          </a>
        </section>
              <section class="products-box">
          <a href="https://product.mercari.com/jp/m56531144532/">
            <figure class="products-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m56531144532_1.jpg?1570794818" class=" lazyloaded" alt="No.5328 UDF チャーリーブラウン ＆ スヌーピー フィギュア" src="https://static.mercdn.net/thumb/photos/m56531144532_1.jpg?1570794818">
                          </figure>
            <div class="products-box-body">
              <h3 class="products-box-name font-2">No.5328 UDF チャーリーブラウン ＆ スヌーピー フィギュア</h3>
              <div class="products-box-num">
                <div class="products-box-price font-5">¥2,230</div>
                                  <div class="font-2">
                    <div class="icon-like-border"><%= fa_icon 'heart' %></div>
                    <span>15</span>
                  </div>
                              </div>
            </div>
          </a>
        </section>
              <section class="products-box">
          <a href="https://product.mercari.com/jp/m46105054916/">
            <figure class="products-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m46105054916_1.jpg?1570789052" class=" is-higher-height lazyloaded" alt="No.5327 UDF スヌーピー マーブルズ フィギュア" src="https://static.mercdn.net/thumb/photos/m46105054916_1.jpg?1570789052">
                          </figure>
            <div class="products-box-body">
              <h3 class="products-box-name font-2">No.5327 UDF スヌーピー マーブルズ フィギュア</h3>
              <div class="products-box-num">
                <div class="products-box-price font-5">¥1,580</div>
                                  <div class="font-2">
                    <div class="icon-like-border"><%= fa_icon 'heart' %></div>
                    <span>3</span>
                  </div>
                              </div>
            </div>
          </a>
        </section>
              <section class="products-box">
          <a href="https://product.mercari.com/jp/m36393335892/">
            <figure class="products-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m36393335892_1.jpg?1570787461" class=" is-higher-height lazyloaded" alt="No.5326 UDF スヌーピー マーブルズ フィギュア" src="https://static.mercdn.net/thumb/photos/m36393335892_1.jpg?1570787461">
                              <figcaption>
                  <div class="product-sold-out-badge"><div>SOLD</div></div>
                </figcaption>
                          </figure>
            <div class="products-box-body">
              <h3 class="products-box-name font-2">No.5326 UDF スヌーピー マーブルズ フィギュア</h3>
              <div class="products-box-num">
                <div class="products-box-price font-5">¥1,580</div>
                                  <div class="font-2">
                    <div class="icon-like-border"><%= fa_icon 'heart' %></div>
                    <span>1</span>
                  </div>
                              </div>
            </div>
          </a>
        </section>
              <section class="products-box">
          <a href="https://product.mercari.com/jp/m80136863751/">
            <figure class="products-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m80136863751_1.jpg?1570787348" class=" is-higher-height lazyloaded" alt="No.5325 UDF アストロノーツ スヌーピー フィギュア" src="https://static.mercdn.net/thumb/photos/m80136863751_1.jpg?1570787348">
                          </figure>
            <div class="products-box-body">
              <h3 class="products-box-name font-2">No.5325 UDF アストロノーツ スヌーピー フィギュア</h3>
              <div class="products-box-num">
                <div class="products-box-price font-5">¥1,870</div>
                                  <div class="font-2">
                    <div class="icon-like-border"><%= fa_icon 'heart' %></div >
                    <span>4</span>
                  </div>
                              </div>
            </div>
          </a>
        </section>
              <section class="products-box">
          <a href="https://product.mercari.com/jp/m61533757520/">
            <figure class="products-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m61533757520_1.jpg?1570787174" class=" is-higher-height lazyloaded" alt="No.5324 UDF アストロノーツ チャーリーブラウン フィギュア" src="https://static.mercdn.net/thumb/photos/m61533757520_1.jpg?1570787174">
                          </figure>
            <div class="products-box-body">
              <h3 class="products-box-name font-2">No.5324 UDF アストロノーツ チャーリーブラウン フィギュア</h3>
              <div class="products-box-num">
                <div class="products-box-price font-5">¥1,870</div>
                                  <div class="font-2">
                    <div class="icon-like-border"><%= fa_icon 'heart' %></div>
                    <span>5</span>
                  </div>
                              </div>
            </div>
          </a>
        </section>
          </div>

                </section>

        <section class="
      products-box-container
      clearfix
      related-product-column                ">
            <h2 class="products-box-head">
    <span class="link">
      ぬいぐるみ （おもちゃ・ホビー・グッズ） その他の商品
    </span>
  </h2>
    
    <div class="products-box-content clearfix">
              <section class="products-box">
          <a href="https://item.mercari.com/jp/m77014304984/">
            <figure class="products-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m77014304984_1.jpg?1560075458" class=" lazyloaded" alt="American Dream ベアー／ブラウン" src="https://static.mercdn.net/thumb/photos/m77014304984_1.jpg?1560075458">
                          </figure>
            <div class="products-box-body">
              <h3 class="products-box-name font-2">American Dream ベアー／ブラウン</h3>
              <div class="products-box-num">
                <div class="products-box-price font-5">¥4,200</div>
                                                  <div class="font-2">
                    <div class="icon-like-border"><%= fa_icon 'heart' %></div>
                    <span>1</span>
                  </div>
                              </div>
            </div>
          </a>
        </section>
              <section class="products-box">
          <a href="https://item.mercari.com/jp/m86991400068/">
            <figure class="products-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m86991400068_1.jpg?1570893503" class="lazyloaded is-higher-height" alt="ふんわり ころころきつね ぬいぐるみ 全4種類 ③" src="https://static.mercdn.net/thumb/photos/m86991400068_1.jpg?1570893503">
                          </figure>
            <div class="products-box-body">
              <h3 class="products-box-name font-2">ふんわり ころころきつね ぬいぐるみ 全4種類 ③</h3>
              <div class="products-box-num">
                <div class="products-box-price font-5">¥2,800</div>
                                                  <div class="font-2">
                    <div class="icon-like-border"><%= fa_icon 'heart' %></div>
                    <span>1</span>
                  </div>
                              </div>
            </div>
          </a>
        </section>
              <section class="products-box">
          <a href="https://item.mercari.com/jp/m65201690947/">
            <figure class="products-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m65201690947_1.jpg?1569053576" class=" lazyloaded" alt="ユニコーンのコニー オーロラリボン ぬいぐるみ" src="https://static.mercdn.net/thumb/photos/m65201690947_1.jpg?1569053576">
                          </figure>
            <div class="products-box-body">
              <h3 class="products-box-name font-2">ユニコーンのコニー オーロラリボン ぬいぐるみ</h3>
              <div class="products-box-num">
                <div class="products-box-price font-5">¥2,380</div>
                                  <div class="font-2">
                    <div class="icon-like-border"><%= fa_icon 'heart' %></div>
                    <span>1</span>
                  </div>
                              </div>
            </div>
          </a>
        </section>
              <section class="products-box">
          <a href="https://item.mercari.com/jp/m46851662345/">
            <figure class="products-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m46851662345_1.jpg?1570893468" class=" lazyloaded" alt="ふわふわバニーぬいぐるみ" src="https://static.mercdn.net/thumb/photos/m46851662345_1.jpg?1570893468">
                          </figure>
            <div class="products-box-body">
              <h3 class="products-box-name font-2">ふわふわバニーぬいぐるみ</h3>
              <div class="products-box-num">
                <div class="products-box-price font-5">¥2,400</div>
                                                  <div class="font-2">
                    <div class="icon-like-border"><%= fa_icon 'heart' %></div>
                    <span>1</span>
                  </div>
                              </div>
            </div>
          </a>
        </section>
              <section class="products-box">
          <a href="https://item.mercari.com/jp/m26839815332/">
            <figure class="products-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m26839815332_1.jpg?1556536963" class=" lazyloaded" alt="クレヨンしんちゃん めちゃでかぬいぐるみ 〜おすわりシロ〜" src="https://static.mercdn.net/thumb/photos/m26839815332_1.jpg?1556536963">
                          </figure>
            <div class="products-box-body">
              <h3 class="products-box-name font-2">クレヨンしんちゃん めちゃでかぬいぐるみ 〜おすわりシロ〜</h3>
              <div class="products-box-num">
                <div class="products-box-price font-5">¥1,700</div>
                                  <div class="font-2">
                    <div class="icon-like-border"><%= fa_icon 'heart' %></div>
                    <span>3</span>
                  </div>
                              </div>
            </div>
          </a>
        </section>
              <section class="products-box">
          <a href="https://item.mercari.com/jp/m81687621385/">
            <figure class="products-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m81687621385_1.jpg?1569053942" class=" lazyloaded" alt="ぽてうさろっぴー ビビッド ぬいぐるみ" src="https://static.mercdn.net/thumb/photos/m81687621385_1.jpg?1569053942">
                          </figure>
            <div class="products-box-body">
              <h3 class="products-box-name font-2">ぽてうさろっぴー ビビッド ぬいぐるみ</h3>
              <div class="products-box-num">
                <div class="products-box-price font-5">¥1,980</div>
                                                  <div class="font-2">
                    <div class="icon-like-border"><%= fa_icon 'heart' %></div>
                    <span>1</span>
                  </div>
                              </div>
            </div>
          </a>
        </section>
          </div>

                </section>
  </div>

  <aside class="modal" data-modal="report-product" data-close="modal">
    <div class="modal-inner modal-banner">
      <div class="modal-body">
        <div class="modal-head bold">確認</div>
        不適切な商品を報告しますか？
      </div>
      <div class="clearfix">
        <div class="modal-btn modal-btn-cancel" data-close="modal">キャンセル</div>
        <a href="https://www.mercari.com/jp/report/m64922026898/">
          <button class="modal-btn modal-btn-submit">はい</button>
        </a>
      </div>
    </div>
  </aside>

  <nav class="bread-crumbs pos-bottom">
  <ul>
                          <li productscope="" producttype="http://data-vocabulary.org/Breadcrumb">
                                                  <a href="https://www.mercari.com/jp/" productprop="url">
            <span productprop="title">メルカリ</span>
          </a>
          <strong>＞ </strong>
                </li>
                      <li productscope="" producttype="http://data-vocabulary.org/Breadcrumb">
                  <span productprop="title">No.5038 My Pet Monster トーキングプラッシュドール UK</span>
                </li>
            </ul>
</nav>