=render "shared/top_header"

%section.product-box-container.first-container
  %h1.product-name 
    = @product.name
  .product-wording
    『#{@product.name}』は、0回の取引実績を持つ#{@product.user.nickname}さんから出品されました。
    （#{@product.detail.small_category}/#{@product.detail.medium_category}/#{@product.detail.large_category}）の商品で、
    #{@product.origin_area}から#{@product.days_left_send}で発送されます。
  .product-main-content.clearfix
    .product-photo
      .chosen-carousel
        = image_tag @product.images[0].img.url, id:"MainPhoto"
        - if @product.status !=  "出品中"
          .chosen-product-inner__sold__image
          .chosen-product-inner__sold__text SOLD
        .chosen-dots
          - @product.images.each do |image|
            .chosen-dot
              = image_tag image.img.url,class:"ChangePhoto"
    %section.visible-sp
    %table.product-detail-table
      %tbody
        %tr
          %th 出品者
          %td 
            = @product.user.nickname
            .producty
              .product-user-ratings
              .icon-good= fa_icon 'smile-o'
              .icon-number 0
              .product-user-ratings
              .icon-normal= fa_icon 'meh-o'
              .icon-number 0
              .product-user-ratings
              .icon-bad= fa_icon 'frown-o'
              .icon-number 0
        %tr
          %th カテゴリー
          %td
            %span.link
              = link_to "/products/#{@product_parent.id}/category_search_parent" do
                = @product.detail.large_category
            %span.link
              .product-detail-table-sub-category
                - if @product.detail.medium_category.present?
                  = link_to "/products/#{@product_parent.id}/#{@product_child.id}/category_search_child" do
                    %strong ＞ #{@product.detail.medium_category}
            %span.link
              .product-detail-table-sub-sub-category
                - if @product.detail.small_category.present?
                  = link_to "/products/#{@product_parent.id}/#{@product_child.id}/#{@product_grandchild.id}/category_search_grandchild" do
                    %strong ＞ #{@product.detail.small_category}
        %tr
          %th ブランド
          %td #{@product.detail.brand}
        %tr
          %th 商品の状態
          %td #{@product.condition}
        %tr
          %th 配送料の負担
          %td #{@product.delivery_charge}
        %tr
          %th 配送の方法
          %td らくらくメルカリ便
        %tr
          %th 配送元地域
          %td
            %span.link #{@product.origin_area}
        %tr
          %th 発送日の目安
          %td #{@product.days_left_send}
  .product-price-box.text-center
    %span.product-yen.bold ¥
    %span.product-price.bold
      = @product.price
    %span.product-tax (税込)
    %span.product-shipping-fee
      = @product.delivery_charge
    - if (@product.user.id != current_user&.id) && (@product.status == "出品中")
      = link_to "/products/#{@product.id}/user_buying" do
        .product-buy-btn
          購入画面に進む
  .product-description.f14
    %p.product-description-inner
      = @product.discription
  .product-button-container.clearfix
    .product-button-left
      .product-button.product-button-like
        = fa_icon 'heart-o'
        %span いいね!
        %span{'data-num': "like"} 0
      .product-button.product-button-report.clearfix
        = fa_icon 'flag-o'
        %span 不適切な商品の報告
    .product-button-right
      %span.link
        あんしん・あんぜんへの取り組み
- if (@product.user.id == current_user&.id) && (@product.status == "出品中")
  .listing-product-change-box
    = link_to(edit_product_path(@product.id))do
      .listing-product-change-box__edit
        商品の編集
    .listing-product-change-box__or
      or
    .listing-product-change-box__restart
      出品を再開する
    = link_to(product_path(@product.id),{method: "delete"}) do
      .listing-product-change-box__destroy
        この商品を削除する
.product-detail-message
  .message-container

.product-social-media-box
  %ul.social-media-box
    %li
      %a.share-btn
        .icon-facebook= fa_icon 'facebook'
    %li
      %a.share-btn
        .icon-twitter= fa_icon 'twitter'
    %li.social-hidden-product
      .icon-line
        .icon-line= fa_icon 'comment'
    %li
      .share-btn
        .icon-pinterest= fa_icon 'pinterest'

.products-in-user-profile
  %section.products-box-container.clearfix.related-product-column.products-in-user-profile
    %h2.products-box-head
      %span.link #{@product.user.nickname}さんのその他の出品
    .products-box-content.clearfix
    - @user_products.each do |product|
      %section.products-box
        %figure.products-box-photo
          .lazyloaded
          = link_to product_path(product.id) do
            = image_tag product.images[0].img.url
        .products-box-body
          %h3.products-box-name
            = product.name
          .products-box-num
            .products-box-price.font-5
            ¥#{product.price}
            .font-2
              = fa_icon 'heart-o'
              %span 0

  %section.products-box-container.clearfix.related-product-column
    %h2.products-box-head
      %span.link
        #{@product.detail.large_category} その他の商品
    .products-box-content.clearfix
    - @category_products.each do |product|
      %section.products-box
        %figure.products-box-photo
          .lazyloaded
          = link_to product_path(product.id) do
            = image_tag product.images[0].img.url
        .products-box-body
          %h3.products-box-name
            = product.name
          .products-box-num
            .products-box-price.font-5
            ¥#{product.price}
            .font-2
              = fa_icon 'heart-o'
              %span 0

              
%aside.modal{'data-close': "modal", 'data-modal': "report-product"}
  .modal-inner.modal-banner
    .modal-body
      .modal-head.bold 確認
      不適切な商品を報告しますか？
    .clearfix
      .modal-btn.modal-btn-cancel{'data-close': "modal"} キャンセル
      %button.modal-btn.modal-btn-submit はい
%nav.bread-crumbs.pos-bottom
  %ul
    %li{productscope: "", producttype: "http://data-vocabulary.org/Breadcrumb"}
      = link_to "/" do
        %span{productprop: "title"} メルカリ
        %strong ＞
    %li{productscope: "", producttype: "http://data-vocabulary.org/Breadcrumb"}
      %span{productprop: "title"} #{@product.name}

=render "shared/top_footer"