.user-buying
  %header.user-buying__header
    %h1.user-buyinng__header__mercari-box
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2296184308", class: "user-buying__header__mercari-box__icon"
  .user-buying__main
    .user-buying__main__box
      %h2.user-buying__main__box__head
        購入内容の確認
      .buy-item
        .buy-item__inner
          = image_tag @product.images[0].img.url, class: "buy-item__inner__image"
          .buy-item__inner__name
            = @product.name
        .buy-box
          ¥#{@product.price} 送料込み
        .buy-box-point
          ポイントはありません
        .buy-box-pay
          .buy-box-pay__all
            .buy-box-pay__price
        .buy-box-pay-error 
          配送先と支払い方法の入力をを完了をしてください。
        .buy-box-btn
          = form_tag(action: :pay, method: :post) do
            %script.payjp-button{src: "https://checkout.pay.jp", type: "text/javascript" ,'data-text': "購入する" ,'data-key': ENV['PAYJPPK']}
      .buy-user-info
        .buy-user-info__post
          配送先
        .buy-user-info__post-mark
          〒
          = current_user.address.post_code
        .buy-user-info__post-text
          = current_user.address.prefecture
          = current_user.address.town
          = current_user.address.street

        .buy-user-info__name
          mercariくん
        .buy-user-info__fix
          変更する >
        .buy-user-info__pay-method
          支払い方法
        .buy-user-info__pay-method-text
          クレジットカード情報
        .buy-user-info__fix
          変更する >

.sale-page-footer
  %ul.sale-page-footer__box
    %li プライバシーポリシー
    %li メルカリ利用規約
    %li 特定商取引に関する表記
  .sale-page-footer__img
    = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2296184308", class: "sale-page-footer__img--logo"
  %p.sale-page-footer__rogo
    %small © 2019 Mercari